@page
@model Flota_Vehicular.Pages.Mantenimientos.EditcshtmlModel
@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Mantenimientos</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-sumary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Mantenimientos.Id" />
			<div class="form-group">
				<label asp-fpr="Mantenimientos.FechaMantenimiento" class="control-label"></label>
				<input asp-for="Mantenimientos.FechaMantenimiento" class="form-control" />
				<span asp-validation-for="Mantenimientos.FechaMantenimiento" class="text-dager"></span>
			</div>
			<div class="form-group">
				<label asp-fpr="Mantenimientos.Descripcion" class="control-label"></label>
				<input asp-for="Mantenimientos.Descripcion" class="form-control" />
				<span asp-validation-for="Mantenimientos.Descripcion" class="text-dager"></span>
			</div>
			<div class="form-group">
				<label asp-fpr="Mantenimientos.Costo" class="control-label"></label>
				<input asp-for="Mantenimientos.Costo" class="form-control" />
				<span asp-validation-for="Mantenimientos.Costo" class="text-dager"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="save" class="btn btn-success" />
				<a asp-page="./Index" class="btn btn-primary">Back to List</a>
			</div>
		</form>
	</div>
</div>
